{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Zákazníci</h1>
    <br>
    <a href="{% url 'core:customer-create' %}">Nový zákazník</a>
    <br><br>
    <table class="table table-bordered">

        <tr>
            <th class="table-danger">Zákazník</th>
            <th class="table-danger" style="white-space: nowrap; width:1%;">Vytvorený používateľom</th>
        </tr>

        {% for customer in object_list %}
            <tr>
                <td><a href="{% url 'core:customer-detail' customer.id %}">{{ customer }}</a></td>
                <td>{{ customer.user }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}