{% extends 'base.html' %}

{% block content %}
    <h1>Zoznam zákazníkov</h1>
    <br><br>
    <a href="{% url 'core:customer-create' %}">Nový zákazník</a>
    <br><br>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Zákazník</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        {% for customer in object_list %}
            <tr>
                <td><a href="{% url 'core:customer-detail' customer.id %}">{{ customer }}</a></td>
                <td><a href="{% url "core:customer-update" customer.id %}">edit</a></td>
                <td><a href="{% url "core:customer-delete" customer.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}