{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>Zákazníci</h1>
    <br>
    <a href="{% url 'core:customer-create' %}">Nový zákazník</a>
    <br><br>
    <table class="table table-bordered">

        <tr>
            <th class="table-danger">Zákazník</th>
            <th class="table-danger">Edit</th>
            <th class="table-danger">Delete</th>
        </tr>

        {% for customer in object_list %}
            <tr>
                <td><a href="{% url 'core:customer-detail' customer.id %}">{{ customer }}</a></td>
                <td><a href="{% url "core:customer-update" customer.id %}">edit</a></td>
                <td><a href="{% url "core:customer-delete" customer.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}