{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
    <br>
    {% if request.user|has_group:"admin" %}
        <h1>Všetky objednávky</h1>
    {% else %}
        <h1>Moje objednávky</h1>
    {% endif %}
    <br>
    <a href="{% url 'core:order-create' %}">Nová objednávka</a>
    <br><br>
    <table class="table table-bordered">
        <thead class="thead-light">
        <tr>
            <th>Objednávka</th>
        </tr>
        </thead>
        {% for order in object_list %}
            <tr>
                <td><a href="{% url 'core:order-detail' order.id %}">{{ order }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}