{% extends 'base.html' %}

{% block content %}
    <br>
    <h1>{{ object }}</h1>
    <br>
    <a href="{% url "core:order-product-create" object.id %}">Pridať produkt</a>
    &nbsp;&nbsp;&nbsp;
    <a href="{% url "core:order-delete" object.id %}">Zmazať objednávku</a>
    <br><br>
    <p>Objednávku vytvoril <b>{{ object.user }}</b></p>
    <p>Dátum vytvorenia <b>{{ created_at_formatted }}</b></p>
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Produkt</th>
                <th>Kvantita</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>
        {% for order_product in order_product_list %}
            <tr>
                <td>{{ order_product }}</td>
                <td>{{ order_product.quantity }}</td>
                <td><a href="{% url "core:order-product-update" pk=order_product.order.id opk=order_product.id %}">edit</a></td>
                <td><a href="{% url "core:order-product-delete" pk=order_product.order.id opk=order_product.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}