{% extends 'base.html' %}
{% load auth_extras %}
{% block content %}
    <br>
    <h1>Produkty</h1>
    <br>

        <a href="{% url 'core:product-create' %}">Nový produkt</a>
        <br><br>


    <table class="table table-bordered">
        <tr>
            <th class="table-primary">Produkt</th>
            <th class="table-primary">Edit</th>
            <th class="table-primary">Delete</th>
        </tr>

        {% for product in object_list %}
            <tr>
                <td><a href="{% url 'core:product-detail' product.id %}">{{ product }}</a></td>
                <td><a href="{% url "core:product-update" product.id %}">edit</a></td>
                <td><a href="{% url "core:product-delete" product.id %}">delete</a></td>
            </tr>
        {% endfor %}
    </table>


{% endblock %}